@charset "UTF-8";

.moreMenu {
	max-width: 748px;
	margin: 0 auto;
	position: relative;
    margin-top: 15px;
    padding: 0px 10px;
    border-top: 1px solid rgb(240, 240, 240);
    border-bottom: 1px solid rgb(240, 240, 240);
    background-color: rgb(255, 255, 255);
}

.moreMenu_ {
	position: relative;
    height: 20px;
    background-color: white;
    padding: 18px 10px 19px 0px;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.2;
    color: rgb(77, 77, 77);
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(240, 240, 240);
}

.arrow {
	position: absolute;
    top: 50%;
    right: 0px;
    margin-top: -5px;
    transform: rotate(270deg);
}