@charset "UTF-8";
.search {
	max-width: 768px;
	width: 100%;
	margin: 0 auto;
}
.inner-section {
    display: flex;
}

.slider_aside {
    width: 50px;
}

.slider_box {
    width: 720px;
    overflow: hidden;   /* 영역을 벗어나는 내용은 숨겨라 */
}
.slider_list {
    display: flex;
    width: 3600px;      /* 모든 아이템의 너비 */
}
.slider_content {
    width: 720px;
    height: 370px;
    text-align: center;
    user-select: none;
}
.search-name, .search-date {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.search-wrap .search-name {
    position: relative;
    border-radius: 5px;
    background-color: #f8f8f9;
    padding: 10px;
    justify-content: center;

}
.search-wrap .search-date {
    position: relative;
    border-radius: 5px;
    background-color: #f8f8f9;
    padding: 10px;
}
.search-wrap .icon {
    margin: 5px;
}
.search-wrap .icon img {
    width: 18px;
}
.search-input input {
    width: 95%;
    border-style: none;
    background-color: #f8f8f9;
}
.search-input input:focus {
    outline:none;
}
.search_result {
	max-width: 768px;
	width: 100%;
	margin: 0 auto;
}

.hotel-section {
	display: block;
	margin-top: 20px;
}

.hotel-section-img {
	width: 720px;
	height: 150px;
	overflow-y: hidden;
}

.hotel-section-info-outer {
	background-color: white;
}

.hotel-section-info {
	/* margin: 10px 0 0 10px; */
	background-color: white;
}

.hotel-section-info div {
	/* margin: 10px 0; */
	margin-bottom: 10px;
	margin-left: 10px;
}

.hotel-list-scroll {
	width: 720px;
	height: 800px;
	overflow: scroll;
	margin: 0 auto;
}
